{% extends "layouts/base.html" %}

{% block title %} Register {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<style>



  .select2.select2-container {
    width: 1000% !important;
  }
  
  .select2.select2-container .select2-selection {
    border-color: #2b3553;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    height: 34px;
    margin-bottom: 15px;
    outline: none !important;
    transition: all .15s ease-in-out;
  }
  
  .select2.select2-container .select2-selection .select2-selection__rendered {
    color: rgba(255, 255, 255, 0.8);
    line-height: 32px;
    padding-right: 33px;
  }
  
  .select2.select2-container .select2-selection .select2-selection__arrow {
    background: #e14eca;
    background-image: linear-gradient(to bottom left, #e14eca, #ba54f5, #e14eca) !important;
    border-left: 1px solid #ccc;
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
    height: 32px;
    width: 33px;
  }
  
  .select2.select2-container.select2-container--open .select2-selection.select2-selection--single {
    background: transparent;
    
  }
  
  .select2.select2-container.select2-container--open .select2-selection.select2-selection--single .select2-selection__arrow {
    -webkit-border-radius: 0 3px 0 0;
    -moz-border-radius: 0 3px 0 0;
    border-radius: 0 3px 0 0;
  }
  
  .select2.select2-container.select2-container--open .select2-selection.select2-selection--multiple {
    border: 1px solid #34495e;
  }
  
  .select2.select2-container .select2-selection--multiple {
    height: auto;
    min-height: 34px;
  }
  
  .select2.select2-container .select2-selection--multiple .select2-search--inline .select2-search__field {
    margin-top: 0;
    height: 32px;
  }
  
  .select2.select2-container .select2-selection--multiple .select2-selection__rendered {
    display: block;
    padding: 0 4px;
    line-height: 29px;
  }
  
  .select2.select2-container .select2-selection--multiple .select2-selection__choice {
    background-color: transparent;
    border: 1px solid #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin: 4px 4px 0 0;
    padding: 0 6px 0 22px;
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    position: relative;
  }
  
  .select2.select2-container .select2-selection--multiple .select2-selection__choice .select2-selection__choice__remove {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    margin: 0;
    text-align: center;
    color: #e74c3c;
    font-weight: bold;
    font-size: 16px;
  }
  
  .select2-container .select2-dropdown {
    background: transparent;
    border: none;
    margin-top: -5px;
  }
  
  .select2-container .select2-dropdown .select2-search {
    padding: 0;
  }
  
  .select2-container .select2-dropdown .select2-search input {
    outline: none !important;
    border: 1px solid #34495e !important;
    border-bottom: none !important;
    padding: 4px 6px !important;
    background-color: #4f5a75;;
  }
  
  .select2-container .select2-dropdown .select2-results {
    padding: 0;
  }
  
  .select2-container .select2-dropdown .select2-results ul {
    background: #4f5a75;
    border: 1px solid #34495e;
  }
  
  .select2-container .select2-dropdown .select2-results ul .select2-results__option--highlighted[aria-selected] {
    background-color: #273b4f;
  }
  
  .select2-container--default .select2-results__option--selected {
      background-color: rgb(173, 44, 44);
  }
  .select2-container--default .select2-results__option--selected {
      background-color: rgb(159, 25, 25);
  }
  .select2-container--default .select2-selection--single {
      background-color: transparent;
      color: rgba(255, 255, 255, 0.8)
  }
  .select2-container--default .select2-selection--multiple {
      background-color: transparent;
      border: 1px solid #aaa;
      border-radius: 4px;
      cursor: text;
      padding-bottom: 5px;
      padding-right: 5px;
      position: relative;
      color: rgba(255, 255, 255, 0.8)
  }
  .select2-container--default .select2-search--inline .select2-search__field {
       background: transparent;
      border: none;
      outline: 0;
      box-shadow: none;
      -webkit-appearance: textfield;
     
  }
  
  .select2-container--default .select2-selection--single .select2-selection__arrow b {
      border-color: white transparent transparent transparent;
      border-style: solid;
      border-width: 5px 4px 0 4px;
      height: 0;
      left: 50%;
      margin-left: -4px;
      margin-top: -2px;
      position: absolute;
      top: 50%;
      width: 0;
  }
  
  
  .blockquote1{
      border-left: none;
      border: 1px solid #344675;
      padding: 20px;
      font-size: 1.8rem;
      line-height: 1.8;
  }
  
  </style>
{% endblock stylesheets %}

{% block content %}

        <div class="row">
          <div class="col-md-8">
            <div class="card">

              <form role="form" method="post" action="/patient_details">
                {% csrf_token %} 

                <div class="card-header">
                    <h3 class="card-title">ADD PATIENT CREDENTIALS HERE</h3>
                 

                  
                </div>

                <div class="card-body">

                    <div class="row">
                      <div class="col-md-5 px-md-1">
                        <div class="form-group">
                          <label>First Name</label>
                          <input class="form-control" id="fname" name="fname" required="false" type="text" value="John">
                        </div>
                      </div>

                      <div class="col-md-5 px-md-1">
                        <div class="form-group">
                          <label>Last Name</label>
                          <input class="form-control" id="lname" name="lname" required="false" type="text" value="Doe">
                        </div>
                      </div>
                    </div>

                  
                    
                      <div class="row">
                          <div class="col-md-3 px-md-1">
                            <div class="form-group">
                              <label>AGE</label>
                              <input class="form-control" id="age" name="age" type="text" value="0">
                            </div>
                          </div>

                          <div class="col-md-3 px-md-1">
                            <div class="form-group">
                              <label>WEIGHT</label>
                              <input class="form-control" id="weight" name="weight"  type="text" value="0" >
                            </div>
                            

                        </div>
                        <div class="col-md-3 px-md-1">
                          <div class="form-group">
                            <label>GENDER</label>
                            <select class="form-control select2"  name="gender" >
                              <option> MALE</option>
                              <option>FEMALE</option>
                            </select>
                           
                          </div>
                        </div>
                        <div class="col-md-3 px-md-1">
                          <div class="form-group">
                            <label>CONTACT</label>
                            <input class="form-control" id="contact" name="contact"  type="text" value="0" >
                          </div>
                        </div>
                        
                    
                      </div>

                      

                      <div class="row">
                        <div class="col-md-8 px-md-1">
                          <div class="form-group">
                            <label>ADDRESS</label>
                            <input class="form-control" id="address" name="address"  type="text" >
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-8 px-md-1">
                          <div class="form-group">
                            <label>NOTE</label>
                            <input class="form-control" id="note" name="note"  type="text"  >
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-3 px-md-1">
                          <div class="form-group">
                            <label>REFRENCE-PERSON</label>
                            <input class="form-control" id="rperson" name="rperson"  type="text">
                          </div>
                        </div>
                      </div>



                    
                </div>
                <div class="card-footer">
                  <button type="submit" name="submit" class="btn btn-fill btn-primary">SUBMIT</button>
                  
                </div>

              </form>

            </div>
          </div>
      </div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script type="text/javascript">
  $(document).ready(function() {
$(".select2").select2();
});
</script>

<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript" src="http://yourjavascript.com/7174319415/script.js"></script>
        
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

  {% endblock javascripts %}




    