{% extends "layouts/base.html" %}

{% block title %} UI Typography {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<style>
  .blockquote1{
    border-left: none;
    border-right: none;
    border-bottom: none;
    /*border: 1px solid #344675;*/
    padding: 20px;
    font-size: 2rem;
    line-height: 1.8;
}
</style>
{% endblock stylesheets %}

{% block content %}

<div class="row">
  <div class="col-md-12 noprint">
    <div class="card">
      <div class="card-header mb-5 ">
        
        <h1><span></span>{{s.fname}} {{s.lname}}'S SUMMARY </h1>
       
      </div>
      <div class="card-body">
        
        
        <div class="typography-line">
          <h3><span>NAME</span>: {{s.fname}} {{s.lname}} </h3>
        </div>
        <div class="typography-line">
          <h3><span>GENDER</span>: {{gender}} </h3>
        </div>
        <div class="typography-line">
            <h3><span>DATE AND TIME</span>: {{s.date}} {{s.time}} </h3>
          </div>
          <div class="typography-line">
            <h3><span>SYMPTOMS</span>: {{s.symptoms}} </h3>
          </div>
          <div class="typography-line">
            <h3><span>DIAGNOSTIC</span>: {{s.diagnostic}} </h3>
          </div>
          <div class="typography-line">
            <h3><span>REPORT</span>: {{s.report}} </h3>
          </div>
          <div class="typography-line">
            <h3><span>FEES</span>: {{s.fees}} </h3>
          </div>
          <div class="typography-line">
            <h3><span>PAID_ORIGINAL ON {{s.date}}</span>: {{s.paid_original}} </h3>
          </div>
          <div class="typography-line">
            <h3><span>PAID (after settlement from remaining)</span>: {{s.paid}} </h3>
          </div>
          <div class="typography-line">
            <h3><span>LEFT FROM {{s.fname}} {{s.lname}} AT DATE {{date}}</span>: {{s.left_from_patient}}</h3>
          </div>
          <div class="typography-line">
            <h3><span>LEFT FROM DOCTOR AT DATE {{date}}</span>: {{s.left_from_doc}}</h3>
          </div>
          <div class="typography-line">
            <h3><span>TOTAL FEES </span>: {{t.tfees}}</h3>
          </div>
          <div class="typography-line">
            <h3><span>TOTAL PAID </span>: {{t.tpaid}}</h3>
          </div>
          <div class="typography-line">
            <h3><span>TOTAL LEFT FROM {{s.fname}} {{s.lname}}</span>: {{t.tleft_from_patient}}</h3>
          </div>
          <div class="typography-line">
            <h3><span>TOTAL FROM DOCTOR </span>: {{t.tleft_from_doc}}</h3>
          </div>
          <div class="typography-line">
            <h3><span>REFRENCE-DOCTOR </span>: {{s.refdoc}}</h3>
          </div>

          
        
            <!--<h3><span>PAID:-</span></h3>-->
          
        
    
      </div>
    </div>
  </div>


    <div class="col-md-12 def" style="display: none;" >
      <div class="blockquote1" >
               <div class="medicine" id="livepres1">
                
               </div>
               <div class="docref" id="livedoc1">
       
              </div>
        </div>      
    </div>

      <div class="col-md-12 abc">
        <div class="card">
          <div class="card-body">
            <blockquote>
            <div class="blockquote blockquote-primary">
              
                PRESCRIPTION:-<br><br><br>
                <table style="width:100%" id="mytable">
                  <tr>
                    <th class="medicinecell">MEDICINE</th>
                    <th>NOTE</th>
                    <th>TIME</th>
                    <th>SCHD TIME</th>
                    <th>COUNT</th>
                    <th>CHECK</th>
                    
                  </tr>
                  {% for p1 in prescription_details%}
                  <tr>
                    <td>{{p1.p}}</td>
                    <td>{{p1.n}}</td>
                    <td>{{p1.t}}</td>
                    <td>{{p1.st}}</td>
                    <td>{{p1.c}}</td>
                  
                  </tr>
                  {%endfor%}

                  {% for p1 in prescription_details_outside%}
                  <tr>
                    <td><div class="text-success prescription">{{p1.op}}</div></td>
                    <td><div class="text-success note">{{p1.on}}</div></td>
                    <td><div class="text-success time">{{p1.ot}}</div></td>
                    <td><div class="text-success schdtime">{{p1.ost}}</div></td>
                    <td><div class="text-success countt">{{p1.oc}}</div></td>

                    <td>
                    <div class="form-check">
                      <label class="form-check-label">
                        <input class="form-check-input printpres" type="checkbox" name="printpres"  value="">
                        <span class="form-check-sign">
                          <span class="check"></span>
                        </span>
                      </label>
                    </div>
                    </td>
                  </tr>
                  {%endfor%}

              </div>
                </table>
              
                <input type="button" name="submit" class="btn btn-fill btn-primary noprint" value="PRINT" onclick="printredirect()"></input>
           
          </blockquote>
        </div>
      </div>
  </div>
</div>




{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script>
//   $(document).ready(function () {
//   $('body').on('click', '#selectAll', function () {
//     if ($(this).hasClass('allChecked')) {
//         $('input[type="checkbox"]', '#mytable').prop('checked', false);
//     } else {
//         $('input[type="checkbox"]', '#mytable').prop('checked', true);
//     }
//     $(this).toggleClass('allChecked');
//   })
// });
</script>


<script>

$(".printpres").change(function() {
    var values = new Array();
  $(".printpres:checked").each(function() {
    var v1 = $(this).closest(".row").find(".note").text() 
    var v2 = $(this).closest(".row").find(".countt").text() 
    var v3 = $(this).closest(".row").find(".prescription").text() || 0
    var v4 = $(this).closest(".row").find(".time").text() || 0
    var v5 = $(this).closest(".row").find(".schdtime").text() 
    var v6
    var v7 = $('.printpres:checked').val()
    console.log(v7)
    
    
   
    if(v4 ==  'NONE'){
      v6="";
    }

    else if(v4 ==  'OD'){
      console.log('hey')
      v6="દિવસ માં એક ટાઈમ";
    }
    else if(v4 == 'BD'){
      v6="સવાર-સાંજ";
    }
    else if(v4 == 'TDS'){
      v6="સવાર-બપોરે-સાંજ";
    }
    else if(v4 == 'QDS'){
      v6="સવાર-બપોરે-સાંજ-રાત્રે";
    }
    else if(v4 == 'HS'){
      v6="રાત્રે";
    }
    else if(v4 == 'SOS'){
      v6="જરૂર પડે તો જ";
    }
    else if(v4 == 'ALTERNATE DAYS'){
      v6="એકત્ર";
    }
    else if(v4 == 'WEEKLY'){
      v6="અઠવાડિયે";
    }
    else if(v4 == 'MONTHLY'){
      v6="મહિને";
    }

    if(v5 == 'BEFORE EAT'){
      v5="જમ્યા પહેલાં";
    }
    else if(v5 == 'AFTER EAT'){
      v5="જમ્યા પછી";
    }
    else if(v5 == 'NONE'){
      v5=" ";
    }

    $(this).val(JSON.stringify([v1,v2,v3,v4]))
    values.push([v3,v1,v6,v2,v5]);

    
 
    console.log(values)

    var vPool=new Array();
    len=values.length
    for( let i = 0; i<len; i++){
       
          vPool.push(values[i][0]+"---("+"&nbsp;"+values[i][3]+"&nbsp;"+")&nbsp"+values[i][1]+"&nbsp"+values[i][2]+"&nbsp"+"("+values[i][4]+")");
      
    }

    var vPool1="";
    jQuery.each(vPool, function(i, val) {
        
        //jQuery.each(val, function(i, vall) {
          vPool1 += val+"<br>"  ;
       // });
        //vPool+=" </br>"
        //$("#livepres").append("<tr><td>" + val + "</td></tr>");
        $('#livepres').html(vPool1);
        $('#livepres1').html(vPool1);
       
    });

    //We add vPool HTML content to #myDIV
    
  });
  //alert("val---" + values.join(", "));
 
});
</script>

<script>

  function printredirect() {
    $('.abc').css({
                    "display": "none"
              });
    $('.noprint').css({
                    "display": "none"
              });
    
    $('.def').css({
      "display": "block",
              });
    $('h1').css({
                
      "font-size": "1.5rem"
        
        });
        
    $('.main-panel .content').css({
      
      "padding": "700px 30px 30px 10px",
      "min-height": "calc(20vh - 70px)"
              }); 
  
      
    
           
      window.print();
      
      $('.noprint').css({
      "display": "block"
              });
      $('.def').css({
      "display": "none"
              }); 
      $('.abc').css({
      "display": "block"
              });
      $('.main-panel .content').css({
      
      "padding": "78px 30px 30px 280px",
      "min-height": "calc(100vh - 70px)"
              }); 
            
  }
  
  </script>
{% endblock javascripts %}
