{% extends "layouts/base.html" %}

{% block title %} UI Tables {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block navbar %}
<li class="search-bar input-group">
  <button class="btn btn-link" id="search-button" data-toggle="modal" data-target="#searchModal"><i class="tim-icons icon-zoom-split" ></i>
    <span class="d-lg-none d-md-block">Search</span>
  </button>
</li>
{% endblock navbar %}
{% block navend%}
<form class="d-flex" method="post" action="{% url 'searchPatientSummary' %}">
  {% csrf_token %} 
  <div class="modal modal-search fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <input type="text" class="form-control" name="search" id="inlineFormInputGroup" placeholder="SEARCH">
          
          <button type="submit" class="close">
            <i class="tim-icons icon-zoom-split"></i>
          </button>
          
        </div>
      </div>
    </div>
  </div>
</form>

{% endblock navend%}

{% block content %}

<div class="row">
  <div class="col-md-12">
    <div class="card ">
      <div class="card-header">
        <h2 class="card-title"> ALL PATIENTS  {{error}}</h2>
        
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table tablesorter " id="">
            <thead class=" text-primary">
              <tr>
                <th >
                  Name
                </th>
                
                
              </tr>
            </thead>

           
            <tbody>
              {% for p in page_obj%}
              <tr>
                <td>

                    <div class="row">
                        <div class="col-lg-8 ml-auto mr-auto">
                          <div class="row">
                            <div class="col-md-5">
                              <a href="{% url 'particular_person_summary' p.patient_id.id %}">
                              <button class="btn btn-primary btn-block" >{{p.fname}}  {{p.lname}} </button>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                      
                </td>
                
               
              </tr>
              {%endfor%}
             
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  {% if page_obj.has_other_pages %}
  <ul class="pagination justify-content-center ">
    {% if page_obj.has_previous %}
    <li class="pr-3"><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
  {% else %}
    <li class="disabled pr-2"><span>&laquo;</span></li>
  {% endif %}
  {% for i in page_obj.paginator.page_range %}
    {% if page_obj.number == i %}
      <li class="active pr-2"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
    {% else %}
      <li class="pr-2"><a href="?page={{ i }}">{{ i }}</a></li>
    {% endif %}
  {% endfor %}
  {% if page_obj.has_next %}
    <li class="pr-2"><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
  {% else %}
    <li class="disabled pl-3"><span>&raquo;</span></li>
  {% endif %}
  </ul>
  {% endif %}
  
  

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
